<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OAuth2
    </ion-title>
    <ion-icon (click)="logOut()" class="ion-padding pointer" slot="end" name="log-out-outline" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OAuth2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngIf="isLoggedIn">
      <ion-card-header *ngIf="userInfo && userInfo.info.name">Welcome {{userInfo.info.name}}</ion-card-header>
      <ion-card-header *ngIf="userInfo && userInfo.info.email">{{userInfo.info.email}}
      </ion-card-header>
      <ion-card-header>
        <img *ngIf="userInfo && userInfo.info.picture" style="width: 20px; height: 20px"
             src="{{userInfo.info.picture}}"/>
      </ion-card-header>
    </ion-card>
    <ion-button (click)="getEmails()">List Emails</ion-button>
    <div class="ion-padding">
      <ion-list class="ion-padding email-list">
        <ion-item *ngFor="let snippet of emailSnippets">
          <ion-label>{{snippet}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
